<!DOCTYPE html> 
<html>
     <head> 
        <title>Déconnexion</title> 
    </head> 
    <body> 
        <h1>Déconnexion</h1> 
        <p>Vous avez été déconnecté.</p> 
        <a href ="/">Accueil</a> 
    </body> 
</html>